services:
  postgres:
    image: postgres:18-alpine
    environment:
      POSTGRES_DB: pricewatch_db
      POSTGRES_USER: user
      POSTGRES_PASSWORD: password
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:8-alpine
    ports:
      - "6379:6379"

  rabbitmq:
    image: rabbitmq:4.2.2-management
    ports:
      - "5672:5672"
      - "15672:15672"

  otel-collector:
    image: otel/opentelemetry-collector-contrib:latest
    volumes:
      - ./otel-config.yaml:/etc/otel-config.yaml
    command: ["--config=/etc/otel-config.yaml"]
    ports:
      - "4317:4317"

  api:
    build: .
    volumes:
      - .:/app
    environment:
      - SERVICE_NAME=pricewatch-api
      - OTEL_EXPORTER_OTLP_ENDPOINT=http://otel-collector:4317
      - DATABASE_URL=postgres://user:password@postgres:5432/pricewatch_db
      - REDIS_URL=redis://redis:6379/0
      - RABBITMQ_URL=amqp://guest:guest@rabbitmq:5672//
    ports:
      - "8000:8000"
    depends_on:
      - postgres
      - redis
      - rabbitmq
      - otel-collector
volumes:
  postgres_data:
